; API Version is here just to avoid warning message
api = 2
; We are in Drupal 7
core = 7.x
projects[drupal][type] = core
; SimplyDrupal profile
projects[simplydrupal][type] = "profile"
projects[simplydrupal][download][type] = "git"
projects[simplydrupal][download][url] = "ssh://USERNAME@cgit.makina-corpus.net/home/users/bbr/git/drupal-simplydrupal-profile"
projects[simplydrupal][download][branch] = "profile-only"
