;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; core and api directives are required by drush make
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

api = 2
core = 7.x
projects[drupal][type] = core

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Installation profile
; Uncomment the following lines and adapt them with your project's installation
; profile. Notice that it should have a .make file to take advantage of
; drush make's recursive includes.
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;projects[simplydrupal][type] = "profile"
;projects[simplydrupal][download][type] = "git"
;projects[simplydrupal][download][url] = "ssh://git@example.com/USER/PROJECT.git"
